/*General Fromatting for Header*/
.navbar {
    font-family: Poppins;
    width: 100%;
    position: fixed;
    height: 55px;
    padding: 5px 0px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.08);
    z-index: 1000;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 55px;
}

.left-section {
    display: flex;
    align-items: center;
}

.left-text {
    padding: 10px;
    font-size: 20px;
}

.right-section {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

/*Navigation*/
.right-section ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
    color: black;
    transition: 0.15s;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    background-color: white;
    position: absolute;
    padding-top: 22px;
    z-index: 999;
    display: none;
}

.dropdown li{
    margin-bottom: 20px;
}

ul li a:hover {
    color: #ce050f;
}

.right-section ul li:hover ul.dropdown {
    display: block;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.08);
}

/* hamburger btn */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    z-index: 1010;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

.hamburger-button:hover {
    background-color: rgba(0,0,0,0.1);
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out; 
}

.mobile-menu.active{
    right: 0;
}

.mobile-menu ul {
    margin-top: 80px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a{
    font-size: 20px;
}

.mobile-menu .dropdown {
    margin: 0;
    padding-left: 30px;
    display: none;
    flex-direction: column;
}

.mobile-menu .dropdown.open {
    display: flex;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.08);
}

.mobile-menu .dropdown li {
    margin: 0;
    padding: 0;
}

.mobile-menu .dropdown li a {
    padding: 8px 0;
    margin: 0;
    display: block;
}

