.hero {
    margin-bottom: 70px;
    padding-top: 70px;
    /*border: solid;*/
}

.hero .containerH {
    /*border: solid;*/
    background: url("../Images/circleBTitle.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;

    margin-top: 150px;
    margin-bottom: 125px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero .hero-heading {
    padding-top: 48px;
    font-size: 72px;
    line-height: 70px;
}

.hero .subtext {
    padding-top: 42px;
    font-size: 30px;
    /*font-style: italic;*/
    font-weight: 500;
    
}
